<% require 'stock_quote' %>

<h1>AAPL Stock Data</h1>

<% open = StockQuote::Stock.quote("AAPL").open %>
<% change = StockQuote::Stock.quote("aapl").changerealtime %>
<% ask_d = StockQuote::Stock.quote("AAPL").ask %>
<% ask_r = StockQuote::Stock.quote("AAPL").askrealtime %>
<% last = StockQuote::Stock.quote("AAPL").lasttraderealtimewithtime %>

 
<%= "The opening price for AAPL is $#{open}" %>
<br>
<%= "The real time dollar change for AAPL is $#{change}" %>
<br>
<%= "The delayed ask price for AAPL is $#{ask_d}" %>
<br>
<%= "The real time ask price for AAPL is $#{ask_r}" %>
<br>
<%= "The real time last trade for AAPL is $#{last}" %>